var config = {};

/* Define this IP-address to have the right to remove the topmost student.
 * Set this to NULL string to allow anyone to delete. Set it to an empty
 * array to have no administrators. */
config.admins = [
  "192.168.0.4",
];

/* Defines ip -> subject mappings to make everything look nicer. */
config.ip_subject = {
  "192.168.0.1": "Alice",
  "192.168.0.2": "Bob",
  "192.168.0.3": "Eve",
};

// node.js stuff.
module.exports = config;
