@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fixedsys500c.eot');
  src: local('☺'), url('fonts/Fixedsys500c.woff') format('woff'), url('fonts/Fixedsys500c.ttf') format('truetype'), url('fonts/Fixedsys500c.svg') format('svg');
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding-top: 50px;
  font-family: 'DOS';
  background-color: #000084;
  color: #ccc;
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  margin-left: 50px;
}

a {
  color: yellow;
  text-decoration: none;
}

a:visited {
  color: yellow;
}

a:hover {
  color: yellow;
  background-color: orangered;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 70%;
  /* Set the fixed height of the footer here */
  height: 70px;
  padding-top: 5px;
}

thead th {
  border-bottom: 2px solid #ccc;
}

/* ---------- end */

#regular-buttons,
#admin-buttons {
  margin-bottom: 20px;
}

.navbar {
  min-height: 70px;
}

.navbar-header {
  margin-top: 25px;
}

.navbar-brand {
  color: #ccc;
  text-decoration: none;
}

.navbar a {
  color: #ccc;
}

.navbar a:hover {
  color: #ccc;
  background-color: transparent;
}

#queue table tr.highlight {
  background-color: #ccc;
  color: black;
}

.btn {
  background-color: #ccc;
  border: none;
  padding: 10px 40px;
  color: black;
  font-family: 'DOS';
  box-shadow: 12px 12px black;
  font-size: 18px;
}

.btn:hover {
  background-color:#333;
  color: #ccc;
}

.btn:active {
  box-shadow: none;
  transform: translateY(12px) translateX(12px);
  -ms-transform: translateY(12px) translateX(12px);
}

#dos-part {
  display: none;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.col-md-6 {
  width: 50%;
  float: left;
}
