@import url('bootstrap/css/bootstrap.min.css');

@font-face {
  font-family: 'Raleway';
  src: url('fonts/raleway_thin-webfont.woff') format('woff');
}

@font-face {
    font-family: 'League Spartan';
    src: url('fonts/leaguespartan-bold.eot');
    src: url('fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/leaguespartan-bold.woff') format('woff'),
         url('fonts/leaguespartan-bold.ttf') format('truetype'),
         url('fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 130px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  padding-top: 5px;
  background-color: #f5f5f5;
  border-top: 2px solid #eee;
}

/* ---------- end */

#regular-buttons,
#admin-buttons {
  margin-bottom: 20px;
}

.navbar {
  min-height: 100px;
}

.navbar-header {
  margin-top: 25px;
}

.navbar-brand {
  font-family: 'Raleway';
  font-size: 38pt;
}

#queue table tr.highlight {
  background-color: #dbffdb;
  font-weight: bold;
}

#huge-label-current {
  text-align: right;
  padding-right: 80px;
}

#huge-label-next {
  padding-left: 80px;
}

#huge-labels {
  font-family: 'League Spartan';
  font-size: 5vw;
}

#huge-labels span {
  font-size: 10vw;
}

#huge-labels span.ipaddr {
  font-size: 3vw;
}

#modern-part {
  display: none;
}
